/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
:root{
    --heading-or-anchor:#242F51;
    --paragraph-color:#616368;
    --btn-cg-color:#2500F9;
    --icon-or-text-color-1:#F55767;
    --icon-or-text-color-2:#2563FF;
    --icon-or-text-color-3:#40975F;
    --white-color:#fff;
}
/* -----global css start ------*/
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.regular_btn {
    background-color: var(--btn-cg-color);
    border-radius: 25px;
    color: var(--white-color);
    width: 140px;
    padding: 8px 0;
    transition: 0.3s ease;
    border: 2px solid #2500F9;
}
.regular_btn:hover{
    background-color: transparent;
    border: 2px solid #2500F9;
    color: #2500F9;
}
.sec_padd{
    padding: 80px 0;
}
/* ---effect start---- */
.effect{
    position: absolute;
    z-index: -1;
}
.effect_1,.effect_3{
    left: 2%;
    bottom: 8%;
    transform: rotate(-48deg);
    color: #D4CDFD;
    font-size: 20px;
    animation: spin_1 3s linear infinite;
    font-weight: bold;
}
.effect_2{
    left: 45%;
    bottom: 4%;
    font-size: 22px;
    color: #6883DE;
    animation: spin_1 3s linear infinite;
}
.effect_3{
    left: 49%;
    bottom: 27%;
}
.effect_4{
    top: 8%;
    left: 60%;
    background: -webkit-linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 900;
    animation: bounceTop 1s linear infinite alternate;
}
.effect_5,.effect_6{
    right: 5%;
    bottom: 10%;
    background: -webkit-linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 900;
    animation: bounceTop 1s linear infinite alternate;
}
.effect_6{
    top: 10%;
    left: 10%;
    background: -webkit-linear-gradient(#6883DE, #D4CDFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.effect_7{
    left: 30%;
    top: 25%;
    width: 50px;
    height: 50px;
    border:2px solid #6883DE;
    transform: rotate(-45deg);
    animation: spin_1 8s linear infinite;
}
@keyframes spin_1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes bounceTop {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}
/* ---effect end---- */
/* -----global css start ------*/


/* -------------header start------------- */
.header{
    height: 100vh;
    position: relative;
}
.header::before{
    content: '';
    position: absolute;
    background: url(../img/Header-bg.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* --------------navbar start---------------- */

.nav_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease;
}
.nav_container.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: var(--white-color);
    box-shadow: rgb(36 47 81) 2px -7px 12px;
    z-index: 999;
}
/* menu bar */
.menu_bar{
    width: 40px;
    height: 40px;
    background-color: #F55767;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}
.menu_bar span{
    width: 22px;
    height: 2px;
    display: block;
    background-color: white;
    position: relative;
}
.menu_bar span::before,
.menu_bar span::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: white;
}
.menu_bar span::before{
    transform: translateY(8px);
}
.menu_bar span::after{
    transform: translateY(-8px);
}
.close_menu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 99;
    display: none;
    cursor: pointer;
}
.close_menu i{
    font-size: 30px;
    color: red;
}
/* .close_menu span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #6200ff;
    position: relative;
}
.close_menu span::before,
.close_menu span::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: white;
}
.close_menu span::before{
    transform: translateY(-5px) rotate(45deg);
}
.close_menu span::after{
    transform: translateY(5px) rotate(-45deg);
} */
/* menu bar */
#nav_menu li{
    display: inline-block;
    margin: 0 15px;
}
#nav_menu li a{
    color: var(--heading-or-anchor);
    font-size: 16px;
    font-weight: 500;
}
/* --------------navbar end---------------- */

/* ---hero section start-------- */
.hero_section{
    padding-top: 100px;
}
.hero_first_text {
    background: #E2EAED;
    padding: 10px 15px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.hero_content .hero_first_text h5 {
    color: var(--heading-or-anchor);
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 0;
}
.hero_first_text h5 span {
    background: #FEAA25;
    padding: 7px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
}
.hero_first_text h5 span i {
    border: 2px solid #fff;
    border-radius: 50%;
    border-style: dotted;
    display: inline-block;
    text-align: center;
    padding: 2px;
    color: white;
}
.hero_content h2 {
    font-size: 72px;
    font-weight: 600;
    color: var(--heading-or-anchor);
    margin-top: 20px;
}
.hero_content p{
    font-size: 18px;
    color: var(--paragraph-color);
    font-weight: 400;
}
.video_btn{
    color: var(--btn-cg-color);
    font-weight: 500;
}
/* ---hero section end-------- */

/* -------------header end------------- */


/* --------company logo section start------------ */
.company_title{
    color: var(--heading-or-anchor);
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}
/* --------company logo section end------------ */

/* --------------feature section start----------- */
.feature_title h2{
    font-size: 42px;
    font-weight: 600;
    color: var(--heading-or-anchor);
    margin-bottom: 20px;
}
.feature_title p{
    margin-bottom: 50px;
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.feature_list_item .icon_inner{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature_list_item .icon_inner.first{
    background: #FFECEF;
}
.feature_list_item .icon_inner.second{
    background: #F4F4FF;
}
.feature_list_item .icon_inner.third{
    background: #E4FFEE;
}

.feature_list_text h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.feature_list_text.first h3{
    color: var(--icon-or-text-color-1);
}
.feature_list_text.second h3{
    color: var(--icon-or-text-color-2);
}
.feature_list_text.third h3{
    color: var(--icon-or-text-color-3);
}
.feature_list_text p{
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    max-width: 310px;
}
/* --------------feature section end----------- */

/* ----------services section start-------------- */
.ser_border{
    border-right: 1px solid #242F51;
}
.ser_heading_text h2{
    font-size: 42px;
    font-weight: 600;
    color: var(--heading-or-anchor);
    line-height: 60px;
    max-width: 500px;
}
.ser_sm_text p {
    max-width: 480px;
    line-height: 30px;
    padding-left: 50px;
    font-weight: 500;
    color: var(--paragraph-color);
}
.ser_item .icon {
    width: 90px;
    height: 90px;
    /* background: #ff000021; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.ser_item .icon.first{
    background: #FFECEF;
}
.ser_item .icon.second{
    background: #F4F4FF;
}
.ser_item .icon.third{
    background: #E4FFEE;
}
.ser_item .icon img{
    width: 60px;
    padding: 5px;
}
.ser_item_text h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.ser_item_text.first h3{
    color: var(--icon-or-text-color-1);
}
.ser_item_text.second h3{
    color: var(--icon-or-text-color-2);
}
.ser_item_text.third h3{
    color: var(--icon-or-text-color-3);
}
.ser_item_text p{
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    max-width: 310px;
}

/* ----------services section end-------------- */

/* -------------design and built section start------------- */
.design_built_content h2 {
    font-size: 42px;
    font-weight: 600;
    color: var(--heading-or-anchor);
    margin-bottom: 20px;
    max-width: 400px;
    line-height: 55px;
}
.design_built_content p {
    font-weight: 500;
    max-width: 420px;
    margin-bottom: 30px;
    line-height: 28px;
    color: var(--paragraph-color);
}
/* -------------design and built section end------------- */

/* -----chose app section start--------------- */
.sec_title h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--heading-or-anchor);
}
.sec_title p {
    font-weight: 500;
    max-width: 650px;
    line-height: 28px;
    margin: 0 auto;
    color: var(--paragraph-color);
}
.chose_app_item .icon_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}
.chose_app_item .icon_img img{
    width: 60px;
    padding: 5px;
}
.chose_app_item .icon_img.first{
    background: #FFECEF;
}
.chose_app_item .icon_img.second{
    background: #F4F4FF;
}
.chose_app_item .icon_img.third{
    background: #E4FFEE;
}
.chose_app_item .icon_img.fourth{
    background: #E4FFEE;
}
.chose_app_item .icon_img.five{
    background: #F4F4FF;
}
.chose_app_item .icon_img.six{
    background: #FDEEE4;
}
.chose_app_content h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--heading-or-anchor);
}

.chose_app_content p{
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    max-width: 300px;
    margin: 0 auto;
}
/* -----chose app section end--------------- */

/* -----planing section start------------- */
.planing_content .planing_title h2{
    font-size: 42px;
    font-weight: 600;
    color: var(--heading-or-anchor);
    line-height: 60px;
    margin-bottom: 20px;
}
.planing_content .planing_title p {
    max-width: 400px;
    font-weight: 500;
    line-height: 28px;
    color: var(--paragraph-color);
    margin-bottom: 50px;
}
.planing_icon_img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;
}
.planing_icon_img.first{
    background-color: #FFECEF;
}
.planing_icon_img.second{
    background-color: #E4FFEE;
}
.planing_icon_img.third{
    background-color: #FFF6D3;
}
.planing_icon_img.fourth{
    background-color: #F4F4FF;
}
.planing_icon_img img{
    width: 60px;
    padding: 5px;
}
.planing_box_text h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--heading-or-anchor);
}
.planing_box_text p{
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    max-width: 300px;
}
/* -----planing section end------------- */

/* ---------pricing plan section start--------- */
.pricing_toggle_btn{
    border: 2px solid #EBEBEB;
    border-radius: 25px;
    padding: 5px;
}
.pricing_toggle_btn button{
    display: inline-block;
    margin-right: 15px;
}
.pricing_toggle_btn button:last-child{
    margin-right: 0px;
}
.pricing_box {
    /* box-shadow: 2px 2px 8px rgb(0 0 0 / 50%); */
    padding: 50px 50px 5px;
    border-radius: 5px;
}
.pricing_box.second{
    border: 2px solid #EBEBEB;
}
.pricing_header{
    margin-bottom: 50px;
}
.pricing_header h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--heading-or-anchor);
}
.pricing_header h2 span{
    font-weight: 500;
    font-size: 18px;
    color: var(--paragraph-color);
}
.pricing_header h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--heading-or-anchor);
}
.pricing_header p{
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
}
.pricing_body{
    margin-bottom: 30px;
}
.pricing_body ul li{
    margin-bottom: 15px;
}
.pricing_footer{
    height: 100px;
}
.pricing_footer button{
    width: 160px;
}
.pricing_toggle_btn button{
    transition: 0.5s ease;
}
/* ---------pricing plan section end--------- */

/* -------------testimonial section start------------ */
.testimonial_title h2{
    font-size: 42px;
    font-weight: 600;
    color: var(--heading-or-anchor);
    margin-bottom: 20px;
    max-width: 520px;
    line-height: 55px;
}
.testimonial_title p{
    font-weight: 500;
    max-width: 500px;
    margin-bottom: 30px;
    line-height: 28px;
    color: var(--paragraph-color);
}
.rating{
    margin-bottom: 20px;
}
.rating i{
    color: orange;
}
.testimonial_content .testi_body_text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--heading-or-anchor);
}
.testimonial_content .testi_sm_text{
    font-weight: 500;
    max-width: 550px;
    margin-bottom: 30px;
    line-height: 28px;
    color: var(--paragraph-color);
}
.client_details .client_img{
    margin-right: 15px;
}
.client_info h3{
    font-size: 22px;
    font-weight: 500;
    color: var(--heading-or-anchor);
    margin-bottom: 5px;
}
.client_info p{
    font-weight: 400;
    color: var(--paragraph-color);
}
/* ----slider start -----*/
.tns-nav {
    display: none;
}
.testi_container{
    position: relative;
}
#customize_button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
#customize_button button{
    border: none;
    margin-right: 15px;
    padding: 5px 8px;
    border-radius: 50%;
}
#customize_button button .active{
    background-color: #2563FF;
}
/* ----slider end -----*/
/* -------------testimonial section end------------ */

/* -----faq section start------------ */
.according {
    max-width: 850px;
    margin: 0 auto;
}
.faq{
    background-color: #F5F7FA;
    /* background-color: #89b3f3; */
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.faq .question h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--heading-or-anchor);
    line-height: 0.7;
}

.faq .answer p {
    font-weight: 400;
    color: var(--paragraph-color);
    height: 0px;
    overflow: hidden;
    margin-bottom: 0;
    transition: 0.5s ease;
}
.faq.active .answer p{
    height: 150px;
    padding-top: 20px;
}
.faq .question i{
    font-size: 22px;
    font-weight: 700;
    color: var(--heading-or-anchor);
    transition: 0.5s ease;
}
.faq.active .question i{
    transform: rotate(180deg);
}
/* -----faq section end------------ */

/* ----download app section start---- */
.download_app_content h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--heading-or-anchor);
}
.download_app_content p{
    font-weight: 500;
    max-width: 650px;
    line-height: 28px;
    margin: 0 auto;
    color: var(--paragraph-color);
}
.app_store{
    margin-left: 25px;
}
/* ----download app section end---- */

/* -----footer_section START-------------- */
.footer_section{
    padding: 60px 0px;
    background-color: #242F51;
    overflow-x: hidden;
}
ul.footer_link {
    margin: 35px 0px;
}
ul.footer_link li {
    display: inline-block;
    margin: 0 15px;
}
ul.footer_link li a{
    color: var(--white-color);
}
.footer_social_link{
    margin-bottom: 50px;
}
.footer_social_link a {
    display: inline-block;
    margin: 0 8px;
}
.footer_social_link a i {
    font-size: 20px;
    color: #5e6b87;
}
.copyright_text{
    color: #5e6b87;
}
/* -----footer_section end-------------- */